@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    -webkit-tap-highlight-color: transparent;
  }

  body {
    @apply font-pokemon antialiased;
  }

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-gray-300 rounded-full;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-400;
  }
}

@layer utilities {
  .text-pokemon-dark {
    color: #1E1B4B;
  }
}

@media print {
  nav,
  aside,
  button:not(.print-show),
  .no-print {
    display: none !important;
  }
  main {
    padding: 0 !important;
  }
}
